-provide :title, "Edit #{resource.firstname} #{resource.lastname}"
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = form_errors_for resource
  = cloudinary_js_config
  .form-group
    = back_button :back
  .row
    .col-sm-3
      .form-group.img-container
        .img
          = avatar_for(resource)
        .upload_section
          .drag_area
            .drag_inner
              .drag_field
                %p
                  Drop Photo Here
                %p.small or
                .upload_button_holder  
                  %input{:type => "submit", :value => "Select Photo", :class => "btn btn-default"} 
                  = cl_image_upload_tag(:image_id, :crop => :thumb, :width => 300, :height => 300, :gravity => :face,
                    :html => {:class => "image_upload"})
              .upload-details.hide
                %p.small Lodaing...
                .progress
                  .progress-bar{role: 'progressbar', style: 'width: 0%'}
                    %span.sr-only 0%
      .form-group
        = create_button 'Change picture', '#', icon: 'photo', id: 'change-picture', class: 'btn-block', 'data-placement' => 'bottom',
          'data-toggle' => 'popover', 'data-trigger' => 'focus', 'data-content' => 'Upload photo above. Your face will be detected automatically.'
    .col-sm-9
      .form-inputs
        = f.input :firstname, required: true, autofocus: true
        = f.input :lastname, required: true
        = f.input :email, required: true
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          %p
            Currently waiting confirmation for: #{resource.unconfirmed_email}
        .row
          .col-sm-6
            = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
          .col-sm-6
            = f.input :password_confirmation, required: false
        = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
        = f.input :image_id, as: :hidden, input_html: { value: params[:user].try(:[],'image_id'), class: 'image_id' }
      .form-group
        = create_submit 'Update', class: 'button-single'
      .form-group
        = destroy_button registration_path(resource_name), 'Cancel account', data: { confirm: "Are you sure?" }, method: :delete, mode: 'danger'
