-provide :title, "#{user.firstname} #{user.lastname} profile"
-login_date_format = '%H:%M:%S %d-%m-%Y'
= cloudinary_js_config
.row
  .col-sm-3.img-container
    = avatar_for(user)
  .col-sm-9
    %table.table.user-data
      %tr
        %td Firstname
        %td= user.firstname
      %tr
        %td Lastname
        %td= user.lastname
      %tr
        %td E-mail
        %td= user.email
    .edit-button-container
      = edit_button edit_user_registration_path, 'Edit your profile' if user==current_user
    %p
      %em Last login on #{user.last_sign_in_at.strftime(login_date_format)} from #{user.last_sign_in_ip}
    %p
      %em Registered on #{user.created_at.strftime(login_date_format)}

-if reviews.any?
  %h3 Reviews
  = render reviews
