-provide :title, category.name

.btn-group.form-group
  = back_button categories_path
  = edit_button edit_category_path(category), 'Edit category'
  = new_button '#', 'Add product', id: 'new-product'

%h3 Products
= render 'products/listing', products: category.products

-if user_signed_in?
  #new-product-form.hide
    %h3 New product
    = render 'products/form'
