= simple_form_for [category, product] do |f|
  = form_errors_for product
  .form-inputs
    = f.input :title, required: true, autofocus: true
    = f.input :description, required: true
    = f.input :price, type: :decimal, required: true
  .form-group.ow-hidden
    = create_submit 'Save', class: 'button-single'