%table.table.table-striped.table-hover
  %tr
    %th Title
    %th Description
    %th Price
    %th Operations
  - products.each do |product|
    %tr
      %td= product.title
      %td= product.description
      %td= number_to_currency product.price
      %td
        .btn-group
          = show_button category_product_path(product.category, product)
          = edit_button edit_category_product_path(product.category, product) if product.user == current_user
          = destroy_button category_product_path(product.category, product), nil, 
            method: :delete, data: { confirm: 'Are you sure?' } if product.user == current_user