-provide :title, product.title

.btn-group.form-group
  = back_button category_products_path
  = edit_button edit_category_product_path(category, product) if product.user == current_user

%table.table.table-.details-table
  %thead
    %tr
      %th Attribute
      %th Value
    %tr
      %td Title:
      %td= product.title
    %tr
      %td Description:
      %td= product.description
    %tr
      %td Price:
      %td= number_to_currency product.price
    %tr
      %td Category:
      %td
        %strong= link_to product.category.name, product.category
    -if reviews.any?
      %tr
        %td Average Rating
        %td= product.average_rating
    %tr
      %td Owner
      %td= link_to "#{product.user.firstname} #{product.user.lastname}", product.user

%h3 Reviews
-if reviews.any?
  = render reviews
-else
  %em No reviews yet.
-if user_signed_in?
  = render 'reviews/form'

