= simple_form_for [category, product, review] do |f|
  = form_errors_for review
  .form-group
    = f.input :content, required: true
  .form-group
    = f.input :rating, collection: 1..5, required: true

  .form-group
    = create_submit 'Save', class: 'button-single'
