.well
  %p
    = review.content
  %p
    %b 
      -review.rating.times do
        =icon('star')
      -(5-review.rating).times do
        =icon('star-o')
  %em
    -if controller_name=='users'
      = "#{review.author}, on #{review.created_at.strftime('%d-%m-%y')}"
    -else
      = "#{review.author}, #{time_ago_in_words(review.created_at)} ago"
    
