.well
  .row
    .col-xs-3.col-sm-2.img-container
      = small_avatar_for review.user
      = link_to review.author, review.user, class: 'author'
    .col-xs-9.col-sm-10
      %p
        = review.content
      %p
        %strong 
          -review.rating.times do
            =icon('star')
          -(5-review.rating).times do
            =icon('star-o')
      %em
        -if controller_name=='users'
          = "on #{review.created_at.strftime('%d-%m-%y')}, 
            for #{link_to(review.product.title, category_product_path(review.product.category, review.product))}".html_safe
        -else
          = "#{time_ago_in_words(review.created_at)} ago"
    
