%nav.navbar.navbar-default
  .container
    .navbar-header
      %span.navbar-brand #{AppConfig.workshops_name}
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse.navbar-right
      %ul.nav.navbar-nav
        %li= link_to 'Home', root_path
        -if user_signed_in?
          %li.dropdown.hidden-xs 
            = link_to '#', id: 'user-menu', 'data-toggle' => 'dropdown' do
              %p
                = current_user.fullname
                %span.caret
              = navbar_avatar_for current_user
            %ul.dropdown-menu
              = render 'layouts/links', mode: 'dp'
          = render 'layouts/links', mode: 'xs'
        -else
          = render 'layouts/links'
