!!!
%html{ lang: 'en' }
  = render 'layouts/head'

  %body
    = render 'layouts/header'
    .container
      .row
        .col-lg-12
          .page-header
            %h1 #{yield(:title)}
          = render 'layouts/messages'
          = yield
